<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>State Spending Vs. Graduation Rate</title>
  <meta name="author" content="Lux">
  <meta name="description" content="A look at state spending vs graduation rate data">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>

</head>

<body>

  <%- include ('partials/navbar'); %>
  <%- include ('partials/header'); %>
<p> In this project, we compared graduation rates (measured by the 4-year adjusted cohort graduation rate) from 2019 to the per pupil educational spending in the elementary and secondary school systems within the same area from 2012. We anticipated that there would be a positive correlation between these two data points—higher funding for children in elementary and middle school would lead to higher graduation rates for those children when they became high school seniors. However, the data suggests that the correlation is actually much more nuanced. In the United States as a whole there did not seem to be any meaningful correlation between the two. In some states this was also the case, but in others there seemed to be a strong positive correlation, or even a negative correlation. We theorize that this may be because individual states assign school funding differently. Some states may reactively give more funding to the districts with the lowest graduation rates, whereas others may give the most funding the districts with the highest graduation rates.

    <h2> <span style ="font-weight:normal"> US States </span> </h2>
  <div id="tester" style="width:1000px;height:550px;"></div>
  <%const spending = [];%>
  <%const rates = [];%>
  <% for(let i=0; i<data.length; i++){ %>
  <%  spending.push(data[i].spending);%>
  <%  rates.push(data[i].gradRate);%>
  <%}%>
  <%let spendingEJS = spending%>
  <% let ratesEJS = rates%>

  <script>
  let spendJS = [];
  let spendingJS = "<%=spendingEJS%>";
  let spendArrayJS = [];
  spendArrayJS = spendingJS.split(",");
  let ratesJS = [];
  let rateJS = "<%=ratesEJS%>)";
  let rateArrayJS = rateJS.split(",");
  for(let i=0; i<spendArrayJS.length;i++){
    spendJS.push(parseInt(spendArrayJS[i]));
  }
  for(let i=0; i<rateArrayJS.length;i++){
    ratesJS.push(parseInt(rateArrayJS[i]));
  }
  TESTER = document.getElementById('tester');
  var layout = {xaxis: {title: "Spending per Student (in US Dollars)", range: [ 6000, 25000]}, yaxis: {title: "Graduation Rate (Percentage)", range: [72, 100]}};
  Plotly.newPlot( TESTER,[{ x: spendJS, y: ratesJS, mode: "markers", type:"scatter" }], layout );
  let spendTally = 0;
  let rateTally = 0;
  for(let i=0; i<spendJS.length; i++){
    spendTally += spendJS[i];
    rateTally += ratesJS[i];
  }
  let spendAvg = spendTally/spendJS.length;
  let rateAvg = spendTally/ratesJS.length;
  console.log(rateAvg);
  console.log(spendAvg);
  </script>

  <%- include ('partials/footer'); %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
