<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>State Spending Vs. Graduation Rate</title>
  <meta name="author" content="Lux">
  <meta name="description" content="A look at state spending vs graduation rate data">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
</head>

<body>
  <%- include ('partials/navbar'); %>
  <%- include ('partials/header'); %>


  <% let microStateNames = ["California", "Colorado", "Florida", "Iowa", "Louisiana", "Missouri", "NewMexico", "NewYork", "Oklahoma", "Texas", "WestVirginia"]; %>
  <h1> <span style ="font-weight:normal"> <%= name %> </span> </h1>

    <% let previous = microStateNames[microStateNames.indexOf(name)-1] %>
    <% let previousFile = ["micro", previous, ".html"].join("") %>
    <a href= <%= previousFile %> > <%= previous %> </a>


    <% let next = microStateNames[microStateNames.indexOf(name)+1] %>
    <% let nextFile = ["micro", next, ".html"].join("") %>
    <a href= <%= nextFile %> > <%= next %> </a>

    <div id="tester" style="width:1000px;height:550px;"></div>
    <%const spending = [];%>
    <%const rates = [];%>
    <% for(let i=1; i<data.length; i++){ %>
    <%  spending.push(data[i].spending);%>
    <%  rates.push(data[i].gradRate);%>
    <%}%>
    <%let spendingEJS = spending%>
    <% let ratesEJS = rates%>

    <script>
    let spendJS = [];
    let spendingJS = "<%=spendingEJS%>";
    let spendArrayJS = [];
    spendArrayJS = spendingJS.split(",");
    let ratesJS = [];
    let rateJS = "<%=ratesEJS%>)";
    let rateArrayJS = rateJS.split(",");
    for(let i=0; i<spendArrayJS.length;i++){
      spendJS.push(parseInt(spendArrayJS[i]));
      spendArrayJS.sort();
    }
    for(let i=0; i<rateArrayJS.length;i++){
      ratesJS.push(parseInt(rateArrayJS[i]));
    }
    TESTER = document.getElementById('tester');
    spendArrayJS.sort();
    console.log(spendArrayJS);
    console.log(spendArrayJS[1])
    var layout = {xaxis: {range: [ spendArrayJS[1], spendArrayJS[4]]}, yaxis: {range: [47, 100]}};
    Plotly.newPlot( TESTER,[{ x: spendJS, y: ratesJS, mode: "markers", type:"scatter" }],layout );
    </script>
  <section id="state-table">
    <table>
      <tr>
        <th>name</th>
        <th>spending</th>
        <th>gradRate</th>
      </tr>
      <% for(let i=0; i<data.length; i++){ %>
      <tr>
        <td><%= data[i].name %></td>
        <td><%= data[i].spending %></td>
        <td><%= data[i].gradRate %></td>
      </tr>
      <%}%>
    </table>
  </section>
  <%- include ('partials/footer'); %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>
